body  {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  color: #333;
}

h1  {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2px;
  margin: 0;
}

h2  {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.12;
  margin: 0 0 15px 0;
}

h3  {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 5px 0;
}

h4  {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.223;
  margin: 0;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

a {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  color: #1D90B1;
}

.Splitter {
  display: flex;
  list-style: none;
  height: 23px;
  margin: 60px 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  width: 60px;
}

.Square {
  background-color: #2AB9E2;
  transform: rotate(45deg);
}

.Square--small  {
  width: 7px;
  height: 7px;
}

.Square--big  {
  width: 15px;
  height: 15px;
}

.Button {
  padding: 10px 50px;
  border-radius: 3px;
  background-color: #26AED5;
  border-bottom: 3px solid #1D90B1;
  display: table;
  text-decoration: none;
}

.Button:hover {
  background-color: #26b9e0;
}

.Button__Icon {
  width: 28px;
  margin-right: 20px;
  float: left;
}

.Button__Text {
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 2px;
  display: inline-block;
  text-shadow: #1D90B1 0 2px 0;
}

.CallToAction {
  text-align: center;
  display: table;
  margin: 45px 0 60px 0;
}

.CallToAction__Hint {
  font-size: 16px;
  color: #808080;
  margin: 5px 0 0 0;
}

.Footer__Links  {
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
}

.Footer__Links li {
  margin-bottom: 15px;
}