.Issues {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Issue  {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.Issue:last-child {
  margin-bottom: 0;
}

.Issue__Icon  {
  width: 30px;
  margin-right: 15px;
}

.Issue__Content {}

.Issue__Count {
  font-weight: 500;
}