.Team {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Member {
  display: flex;
  margin-bottom: 45px;
}

.Member:last-child  {
  margin-bottom: 0;
}

.Member__Photo  {
  width: 200px;
  height: 200px;
  margin: 0 30px 30px 0;
  flex-shrink: 0;
}

.Member__Content  {}

.Member__Name {}

.Member__Designation  {
  font-size: 16px;
  color: #808080;
}

.Member__Social {
  font-size: 14px;
  margin-right: 10px;
}

.Member__Social a {
  font-size: 14px;
  font-weight: 400;
}

.Member__Bio  {
  margin-top: 15px;
}

@media only screen and (min-width: 320px) {
  .Member {
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .Member {
    flex-direction: row;
  }
}